@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-900 text-slate-100 font-sans antialiased;
    background-image: radial-gradient(circle at 50% 50%, #0c0f1d 0%, #05070c 100%);
  }
}

.rotate-infinite {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
